<div class="landing-page">
  <header class="header">
    <h1>Welcome to the Fresh Fruits Webshop</h1>
    <p>Your one-stop shop for high-quality fresh fruits</p>
  </header>

  <section class="section">
    <img ngSrc="/assets/fruitsbasket.jpg" alt="Basket of mixed fruits" fill/>
    <h2>Mixed Fruits</h2>
    <p>Discover our selection of freshly picked apples, oranges, bananas, and more.</p>
  </section>

  <section class="section">
    <img ngSrc="/assets/berries.jpg" alt="berries" fill/>
    <h2>Fresh Berries</h2>
    <p>Delicious strawberries, blueberries, and raspberries, perfect for any occasion.</p>
  </section>

  <section class="section">
    <img ngSrc="/assets/banna.jpg" alt="Banana" fill/>
    <h2>Tropical Fruits</h2>
    <p>Enjoy exotic flavors with our handpicked pineapples, mangoes, and papayas.</p>
  </section>

  <footer>
    <button routerLink="/shop" class="btn">Start Shopping</button>
  </footer>
</div>
